.background {
  background-image: url("~src/assets/images/wallpaper_4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
